html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.icon {
    display: none;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descript {
    width: 100%;
    min-height: 7rem;
    background-color: rgb(8, 104, 182);
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
}
.descript p {
    color: white;
}
.descript input{
    background-color: blue;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}
.login {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.login input{
    margin: 2px;
    flex-grow: 1;
}
.login input[type="button"] {
    border: none;
    outline: none;
}
.login input:nth-of-type(3){
    background: rgb(53, 53, 180);
}
.card-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    width: 100%;
    margin: 10px;
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding:8px ;
}
.card a{
    text-decoration: none;
    color: rgb(52, 52, 187);
}
.card p {
    direction: rtl;
}
.card p:nth-of-type(1){
    color: gray;
}
.card p:nth-of-type(2){
    margin: 0;
}
.middle-section {
    color: rgb(52, 52, 187);
}
.bottom-section {
    display: none;
}
@media only screen and (min-width: 420px){
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .top-section{
        width: 100%;
        height: 12rem;
    }
    .icon{
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    .descript input{
        width: 12rem;
        height: 1.5rem;
    }
    .top-section{
        display: flex;
    }
    .descript{
        width: 80%;
        justify-content: center;
    }
    .login{
        width: 20%;
        height: 100%;
        flex-direction: column;
    }
    .login input{
        width: 90%;
    }
    .card {
        width: 20rem;
    }
    .bottom-section {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    .bottom-section a{
        padding: 0 10px;
        width: fit-content;
        text-decoration: none;
        cursor: pointer;
        border-left: 1px solid rgb(56, 56, 226);
        text-align: center;
    }
}